
.loginDesign {

    height: 90vh;
    width: 100vw;

    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}



.errorInput {

   color: #ffc107;
}

input{
width: 30vw;
height: 5vh;
border-radius: 0.5em;

}

pre{
    color: aqua;
}