.buttonDesign {
//margin-top: 1em;
    margin-bottom: 2em;
   color: whitesmoke;
    border-radius: 2em;
    cursor: pointer;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);;
    text-decoration: none;
    padding-bottom: 1.8em;
    transition: 0.2s;
    align-content: center;
}

.buttonDesign:hover {

    
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);;
    background-blend-mode: screen;
    text-decoration: none;

    transition: 0.2s;
}

