.navbarDesign {
background-image: linear-gradient(75deg, #f6d365 0%, #fda085 100%);
color: whitesmoke;
border-bottom: #fda085 solid 0.1em;
}

.desplegableDesign {

background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

}

