.registerDesign{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: greenyellow;
    background-color: #030328;
}

.buttonDesign{
margin-bottom: 3em;
    margin: 0.5em;
    border-radius: 2em;
    cursor: pointer;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: greenyellow;
    color: black;
    background-image: -webkit-linear-gradient(top, greenyellow, #2079b0);
    background-image: -moz-linear-gradient(top, greenyellow, #2079b0);
    background-image: -ms-linear-gradient(top, greenyellow, #2079b0);
    background-image: -o-linear-gradient(top, greenyellow, #2079b0);
    background-image: linear-gradient(to bottom, greenyellow, #2079b0);
    transition: 0.2s;
}

.buttonHomeDesign:hover {

    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, greenyellow);
    background-image: -moz-linear-gradient(top, #2079b0, greenyellow);
    background-image: -ms-linear-gradient(top, #2079b0, greenyellow);
    background-image: -o-linear-gradient(top, #2079b0, greenyellow);
    background-image: linear-gradient(to bottom, #2079b0, greenyellow);
    text-decoration: none;

    transition: 0.2s;
}

.itemDesign{
color: greenyellow;

}
