.filmsViewDesign {
    height: auto ;
    //width: 100vw;

    display: grid;
    flex-direction: column;
   
   
background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: #485563;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.titleDesign {

font-size: 4em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }


 .sinopsisDesign{
font-family: Franklin Gothic Medium;
 }

 .moviePicView{
    margin-top: 3em;
    height: 70vh;
    border-radius: 1em;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
 }

 .genreDesign {
    justify-items: center;
font-family: disney;
font-size: 1.5em;

 }

//.buttonDesign {
//    width: 13vw;
//    margin-bottom: 3em;
//    color: whitesmoke;
//    border-radius: 2em;
//    cursor: pointer;
//    font-size: larger;
//    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
//    ;
//    text-decoration: none;
//    padding-bottom: 1.8em;
//    transition: 0.2s;
//   justify-content: center;
//   align-items: center;
//}

//.buttonDesign:hover {


//    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
//    ;
//    background-blend-mode: screen;
//    text-decoration: none;

//    transition: 0.2s;
//}