.filmsViewDesign {
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
    background-color: #030328;
    color: #ffc107;
}

.buttonDesign{ }