.filmsDesign {

       
        background-color: #030328;
        color: greenyellow;
};


.moviePic {
//width: 10vw;
height: 30vh;
 border-radius: 1em;
};

//.moviePic:hover{
//width: 30vw;
//height: 65vh;

//}