.filmsDesign {

       
        background-image: linear-gradient(75deg, #f6d365 0%, #fda085 100%);
        color: greenyellow;
};


.moviePic {
//width: 10vw;
margin: 2em;
height: 55vh;
border-radius: 1em;
box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
};

.moviePic:hover{

height: 65vh;
box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.searchDesign{
        width: 40em;
        
}

