.seriesDesign {
    height: auto;
    width: auto;

    display: grid;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    //background-image: image(src"../../assets/img/anillo.png");
    background-color: #030328;
    color: greenyellow;
}